@import "text";
@import "colors";

.button{
    float: right;
    margin-top: 15px;
    background-color: $background-color;
    color: $secondary-text-color;
    font-family: $secondary-font;
    font-size: 15px;
    &:hover {
        color:black;
        background-color: $secondarybg;
    }
}
.centered{
    margin: 0 auto;
}

