$background-color: #172801;
$secondarybg: #989D95;
$primary-text-color: #696969;
$secondary-text-color: rgb(243, 237, 237);

.type-page,
.filter-page,
.flavor-page,
.rating-page,
.login-page,
.register-page, 
.dashboard-page{
    background-image: url("../../img/mountain.jpeg");
    min-height: 100vh;
}


.card {
    background-color: white;
}
h2 {
    color: $secondary-text-color;
}
a {
    color: $background-color;
    &:hover {
        color:coral;
    }
}
