$normal-padding: 25px;
$padding: 10px;

@mixin card($width, $height, $bg, $border) {
  width: $width;
  height: $height;
  background: $bg;
  border: $border;
  }

.parallax-container {
  height: 400px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

main {
  flex: 1 0 auto;

}

footer{
    padding-top: $normal-padding;
    height: 75px;
}
.card {
    margin: 10px;
    padding: 0;
}
.activator{
    padding-top: 10px;
    width: 100%;
}
.login-button {
  margin-right: 5px;
}
.collection{
  border: none;
}

#map {
  width: 75%;
  height: 75%;
  background-color: grey;
  visibility: visible;
  position: absolute;
}
.register-button {
  padding-top: $padding;
}

.hidden {
  display: none;
}
.greeting{
  padding-top: $normal-padding;
}