{{#if user.favorites}}
<ul>
    {{#each user.favorites}}
    <li>
        <h5>{{this.distillery}}</h5>
        <p><a href="{{this.website}}">Website</a></p>
        <p>{{this.city}}</p>
    </li>
    {{/each}}
</ul>
{{/if}}