{{#if results}}
<h2 class = "center-align">Your Flavor choice is {{this.flavor}}</h2>
<ul class = "collection">

     {{#each results}}
        <li class = "collection-item center-align"> {{this.Distillery.distillery}} --- {{this.name}} --- {{this.alcoholType}}</li>
    {{/each}}   
</ul>
{{/if}}

