{{#if errors}}
  {{#each errors}}
    <div class="red-text text-darken-2 center-align" role="alert">
      {{ msg }}
    </div>
    {{/each}}
{{/if}}

{{#if success_message}}
  <div class="red-text text-darken-2 center-align" role="alert">
    {{ success_message }}
  </div>
{{/if}}

{{#if error_message}}
  <div class="red-text text-darken-2 center-align" role="alert">
    {{ error_message }}
  </div>
{{/if}}

{{#if error}}
  <div class="red-text text-darken-2 center-align" role="alert">
    {{ error }}
  </div>
{{/if}}