<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bc958362bc.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/materialize.css">


    <title>In High Spirits</title>
</head>
<header>
    <div class="nav-wrapper container">
        <img class="responsive-img img-container" src="img/inHighSpirits.png" width="25%">
        <a class="btn-large button home-button"><i class="fas fa-wine-bottle"></i></i>Home</a>
        <a class="btn-large button login-button"><i class="fas fa-glass-whiskey"></i>Log In</a>
    </div>
</header>
<body>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div class="footer-copyright pad-">
            <div class="container center-align">
                Made by <a class="grey-text darken-4" href="http://materializecss.com">Lori, Kelsi & Madison</a>
            </div>
        </div>
    </footer>
</body>

<!-- jQuery is required by Materialize to function -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="/assets/js/materialize.js"></script>
<script src="/assets/js/spiritsFrontend.js"></script>
<script src="/assets/js/chart.js"></script>

</html>