<body>
    <main class="dashboard-page">
        <div class="greeting">
            <h2 class="center-align">Cheers, {{ user.name }}!</h2>
        </div>
        <div class="row">
            <div class="col s12 m6 l4 offset-l2">
                <h3>Your Favorite Distilleries</h3>
                {{> favorites}}
            </div>
            <div class="col s12 m6 l4">
                <h3>Your Saved Distilleries</h3>
                {{> saved}}
            </div>
        </div>
    </main>
</body>