<body>
    <main class="flavor-page">
        <div class="greeting">
            <h2 class="center-align">Choose a flavor to get started</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col l3 m6 s12">
                    <img class="responsive-img" src="/img/legend.png">
                </div>
                <div class="col l9 m6 s12 flavor-wheel">
                    <canvas id="pie-chart" width="800" height="450"></canvas>
                </div>
            </div>
            <div class="container">
                <div class="rendered-info">
                </div>
            </div>
        </div>
    </main>
   {{> flavordisplay}}
</body>