<body>
    <main class="flavor-page">
        <div class="greeting">
            <h2 class="center-align">Choose a flavor to get started</h2>
        </div>
        <div class="container flavor-wheel">
       <canvas id="pie-chart" width="800" height="450"></canvas>
        </div>
    </main>
   {{> flavordisplay}}
</body>