<div class="nav-wrapper container">
    <img class="responsive-img img-container" src="../img/inHighSpirits.png" width="25%">
  </div>

  <!-- Content -->
<div class="parallax-container center valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col l3 black-text left-align">
                  <div class="card transparent z-depth-5">
                    <div class="card-content white-text">
                      <span class="card-title">Welcome</span>
                      <p>Laws are laws, help us do our part to follow *most* of them.</p>
                      <br>
                      <p>Are you 21 years old or older?</p>
                    </div>
                    <div class="card-action">
                      <p><a class="white-text" id="age-confirm" href="#">Yes, I'm old.</a></p>
                      <br>
                      <p><a class="white-text" id="too-young" href="#">Nope!</a></p>
                    </div>
                  </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="/img/photo-1546903600-1ab648d68d36.jpeg">
    </div>
  
  </div>
 
</body>

</html>