<body>
    <main class="rating-page">
        <div class="greeting">
            <h2 class="center-align">Here are the top spirits</h2>
        </div>
        <div class="container ratings-container">
            <div class="row">
                {{#if results}}
            <ul class="collection">
                {{#each results}}
                <li class="collection-item center-align">{{this.Distillery.Distillery}} {{this.name}} has a rating of {{this.rating}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </main>
</body>