<body>
    <main class="rating-page">
        <div class="greeting">
            <h2 class="center-align">Here are the top spirits</h2>
        </div>
        <div class="container ratings-container">
            <ul>
                {{#each rating}}
                <li>{{name}}</li>
                {{/each rating}}
            </ul>
        </div>
    </main>
    <footer>
        <div class="footer-copyright pad-">
            <div class="container center-align">
                Made by <a class="grey-text darken-4" href="http://materializecss.com">Lori, Kelsi & Madison</a>
            </div>
        </div>
    </footer>
</body>