<body>
    <main class="rating-page">
        <div class="greeting">
            <h2 class="center-align">Here are the top spirits</h2>
        </div>
        <div class="container ratings-container">
            <div class="row">
                {{#if ratings}}
                <h2 class="center-align">Top Alcohols</h2>
            <ul>
                {{#each ratings}}
                <li>{{this.Distillery.Distillery}} --- {{this.name}} --- {{this.rating}}</li>
                {{/each rating}}
            </ul>
        </div>
    </main>
</body>