<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" class="validate">
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password2" type="password" class="validate">
                <label for="password2">Verify Password</label>
            </div>
        </div>
          <button class="btn waves-effect waves-light" type="submit" id="register-submit" name="register-submit">Submit
    <i class="material-icons right">send</i>
  </button>
    </form>
</div>