<body>
    <main class="type-page">
        <div class="greeting">
            <h2 class="center-align">Choose a type to get started</h2>
        </div>
        <div class="container hide-on-click">
            <div class="row">
                <div class="collection col l6">
                    <a href="#!" class="collection-item" data-type="absinthe">Absinthe</a>
                    <a href="#!" class="collection-item" data-type="amaro">Amaros</a>
                    <a href="#!" class="collection-item" data-type="bourbon">Bourbon</a>
                    <a href="#!" class="collection-item" data-type="brandy">Brandy</a>
                    <a href="#!" class="collection-item" data-type="gin">Gin</a>
                    <a href="#!" class="collection-item" data-type="cordial">Liquors/Cordials</a>
                </div>
                <div class="collection col l6">
                    <a href="#!" class="collection-item" data-type="scotch">Scotch</a>
                    <a href="#!" class="collection-item" data-type="sherry">Sherry</a>
                    <a href="#!" class="collection-item" data-type="tequila">Tequila</a>
                    <a href="#!" class="collection-item" data-type="vodka">Vodka</a>
                    <a href="#!" class="collection-item" data-type="whiskey">Whiskey</a>
                    <a href="#!" class="collection-item" data-type="whiskey">Other</a>
                </div>
            </div>
        </div>
    </main>
</body>