<body>
    <main class="type-page">
        <div class="greeting">
            <h2 class="center-align">Choose a type to get started</h2>
        </div>
        <div class="container hide-on-click">
            <div class="row">
                <div class="collection col l6">
                    <a href="#!" class="collection-item silly" data-type="absinthe">Absinthe</a>
                    <a href="#!" class="collection-item" data-type="amaro">Amaros</a>
                    <a href="#!" class="collection-item" data-type="bourbon">Bourbon</a>
                    <a href="#!" class="collection-item" data-type="brandy">Brandy</a>
                    <a href="#!" class="collection-item" data-type="gin">Gin</a>
                    <a href="#!" class="collection-item" data-type="cordial">Liquors/Cordials</a>
                </div>
                <div class="collection col l6">
                    <a href="#!" class="collection-item" data-type="scotch">Scotch</a>
                    <a href="#!" class="collection-item" data-type="sherry">Sherry</a>
                    <a href="#!" class="collection-item" data-type="tequila">Tequila</a>
                    <a href="#!" class="collection-item" data-type="vodka">Vodka</a>
                    <a href="#!" class="collection-item" data-type="whiskey">Whiskey</a>
                    <a href="#!" class="collection-item" data-type="whiskey">Other</a>
                </div>
            </div>
        </div>
        <div class="container show-on-click">
            <ul>
                {{#each type}}
                <li>{{name}}</li>
                {{/each type}}
            </ul>
        </div>
    </main>
    <footer>
        <div class="footer-copyright pad-">
            <div class="container center-align">
                Made by <a class="grey-text darken-4" href="http://materializecss.com">Lori, Kelsi & Madison</a>
            </div>
        </div>
    </footer>
</body>